cython
kivy
-e git://github.com/kivymd/KivyMD.git@ad75c6b4c5ff7d1f5534bf7360017d4e84fb6de1#egg=KivyMD
kivy-garden.contextmenu
pygments
appdirs
attrs
click-help-colors
pillow
pyyaml
lxml
requests
xmltodict
python-dateutil